/* 1. Selectors */

/* selector { cssProperty: cssValue: } */
/* a.) Element selector - Select elements based on name */

h1 {
    color: blue;
    }

/* b.) ID Selector - Selects the element based one the id*/
    /* Id should be unique for everyone */

    #heading-one:hover {
    color: lightcoral;
    }

/* c.) Class Selector - Selects the elements based on class name */
    /* #para-one , #para-two ,#para-four {
        color: gray;
    }*/

    .myPara{
        color: purple;
    }

    /* d. attribuute selector */
    /* img[src^=https://] */
    /* Elementname[ attribute name condition]
    For eg— I want to find the <a> whose here starts with https:// */
    /* in selector square brackets mean attribute selector */
    a[href^="https://"]{
        color: yellow;
    }

    a[href*="/"]{
        color: red;
    }

    /* d. pseudo selector */
    .unordered-list-item:first-child{
        color: blue;
    }
    /* --first child mean where the unorderd class item in the display is seen first will be styled */
    .unordered-list-item:last-child{
        color: blue;
    }
    .unordered-list-item:nth-child(4){
        color: blue;
    }